.bg-login-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    background-image: url('https://i.postimg.cc/YCWpjqTD/graduation-gbb6add5f4-1280.png');
    background-size: cover;
}
  
  .login-website-logo {
    width: 150px;
    height: 70px;
    margin-bottom: 10px;
  }

  .logo-container {
    display: flex;
  }

  .span-letter {
    color: #ffff00;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Gill Sans';
  }

  .logo-name {
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 1, 36);
    font-family: 'Gill Sans';
  }
  
  .login-form-container {
    padding: 45px;
    width: 65%;
    height: 34%;
    border-radius: 17px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(255, 255, 255, 0.575);
    margin: 20px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
  }
  
  .label-element {
    font-size: 12px;
    font-weight: bold;
    font-family: 'roboto';
    margin-bottom: 5px;
  }
  
  .username-input-field {
    width: 250px;
    height: 30px;
    border-width: 1px;
    background-color: transparent;
    font-size: 15px;
    padding: 3px;
    margin-bottom: 20px;
    border: 1px solid rgb(31, 0, 0);
    border-radius: 3px;
  }
  
  .password-input-field {
    width: 250px;
    height: 30px;
    border-width: 1px;
    background-color: transparent;
    font-size: 15px;
    padding: 3px;
    margin-bottom: 20px;
    border: 1px solid rgb(31, 0, 0);
    border-radius: 3px;
  }
  
  .login-button {
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    background-color: rgb(67, 120, 255);
    border-radius: 10px;
    border-width: 0;
    padding: 8px;
    width: 100%;
    cursor: pointer;
    margin-top: 5px;
  }
  
  .error-message {
    color: red;
    font-size: 15px;
    font-weight: bold;
  }