  .job-item-card-container {
    list-style: none;
    background-image: linear-gradient(rgb(228, 255, 254), rgb(255, 255, 212));
    border-radius: 10px;
    padding: 35px;
    margin-bottom: 20px;
    font-family: 'Roboto';
    color: #ffffff;
    height: 100vh;
    background-size: cover;
  }

  .skill-heading {
    color: #000000;
  }

  .failure-img {
    height: 500px;
    width: 600px;
  }

  .failure-head {
    color: #000000;
    font-size: 25px;
  }

  .failure-para{
    color: #190000;
  }

  .job-details-loader {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .img-title-container {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 15px;
  }
  
  .title-rating-container {
    margin-top: 0;
  }
  
  .company-logo {
    width: 80px;
    height: 80px;
    margin-right: 10px;
  }
  
  .first-title-heading {
    color: #1b0000;
    margin-top: 0;
    margin-left: 5px;
    margin-bottom: 15px;
  }
  
  .star-rating-container {
    display: flex;
    flex-direction: row;
    margin-top: 0;
  }
  
  .star-icon {
    color: #fbbf24;
    font-size: 20px;
    margin-left: 5px;
  }
  
  .rating-text {
    color: #190000;
    font-weight: bold;
    margin-top: 0;
    margin-left: 5px;
  }
  
  .location-package-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .location-job-type-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
  }

  .skill-name {
    color: #000000;
    font-size: 20px;
  }
  
  .location-icon-location-container {
    display: flex;
    flex-direction: row;
  }
  
  .life-para {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
  }

  .location-icon {
    color: #ff0000;
    font-size: 20px;
  }
  
  .location {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
    color: #190000;
  }
  
  .job-type {
    margin-top: 0;
  }
  
  .package {
    margin-top: 0;
  }
  
  .link-item {
    text-decoration: none;
  }
  
  .job-details-failure-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
  }
  
  .jobitemcard-details-loader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .description-job-heading {
    color: #000000;
    font-weight: bold;
    font-size: 25px;
  }
  
  .btn-container-failure {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .failure-jobitemcard-btn {
    color: #ffffff;
    background-color: #6366f1;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    width: 100px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }

  .failure-jod-details-btn {
    color: white;
    font-weight: bold;
    font-size: 18px;
    background-color: skyblue;
    padding: 12px;
    border: 0px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .ul-job-details-container {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: bold;
    font-family: 'Roboto';
    font-size: 25px;
    padding: 0;
  }
  
  .li-job-details-container {
    display: flex;
    flex-direction: row;
    width: 30%;
    margin-bottom: 50px;
  }
  
  .company-life-img-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Roboto';
  }
  
  .life-heading-para-container {
    width: 70%;
  }
  
  .description-visit-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .visit-anchor {
    text-decoration: none;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #6366f1;
  }
  
  .skill-img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
  }

  .life-heading {
    color: #6366f1;
  }
  
.life-img {
  border-radius: 8px;
  border: 1px solid blueviolet;
}

  @media screen and (max-width: 767px) {
    .job-details-view-container {
      padding: 15px;
    }
  
    .company-life-img-container {
      display: flex;
      flex-direction: column;
    }
  
    .life-heading-para-container {
      width: 100%;
    }
  
    .ul-job-details-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    .li-job-details-container {
      width: 100%;
    }
  
    .skill-img {
      width: 80px;
      height: 80px;
    }
  
    .employment-type-icon-employment-type-container {
      margin-left: 30px;
    }
  }